<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "base/header.html" %}
    <title>Artikel - PSIDAMAI</title>
  </head>
  <body>
    {% include "base/navbar_masuk.html" %}

    <main class="main">
      <!-- Page Title -->
      <div class="page-title">
        <div
          class="container d-lg-flex justify-content-between align-items-center"
        >
          <h1 class="mb-2 mb-lg-0 program-title">Artikel</h1>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Blog Posts -->
      <section id="blog-posts" class="blog-posts section">
        <div class="container">
          <div class="row gy-5">
            {% for article in articles %}
            <div class="col-lg-4" data-aos="flip-up">
              <a
                href="/artikel_details/{{ article.id }}"
                class="post-item-link text-decoration-none"
              >
                <article class="post-item">
                  <div class="post-img">
                    <img
                      src="{{ url_for('static', filename=article.image) }}"
                      alt="{{ article.title }}"
                      class="img-fluid"
                    />
                  </div>
                  <p class="post-category">{{ article.category }}</p>
                  <h2 class="title">{{ article.title }}</h2>
                  <div class="d-flex align-items-center">
                    <img
                      src="{{ url_for('static', filename=article.author_image) }}"
                      alt="{{ article.author }}"
                      class="img-fluid post-author-img flex-shrink-0"
                    />
                    <div class="post-meta">
                      <p class="post-author">{{ article.author }}</p>
                      <p class="post-date">{{ article.date }}</p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Blog Posts -->
    </main>

    {% include "base/footer.html" %}
  </body>
</html>
