<footer id="footer" class="footer dark-background">
  <div class="footer-top">
    <div class="container">
      <!-- Logo Utama (7 logo) -->
      <div class="row text-center align-items-center mb-4">
        <div class="col-12 d-flex justify-content-center flex-wrap">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-2.png')}}"
            alt="Logo Website"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
          <img
            src="{{url_for('static', filename='assets/img/logo_web.png')}}"
            alt="Logo 1"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
          <img
            src="{{url_for('static', filename='assets/img/clients/client-1.png')}}"
            alt="Logo 2"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
          <img
            src="{{url_for('static', filename='assets/img/clients/client-9.png')}}"
            alt="Logo 3"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
          <img
            src="{{url_for('static', filename='assets/img/clients/client-5.png')}}"
            alt="Logo 4"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
          <img
            src="{{url_for('static', filename='assets/img/clients/client-11.jpg')}}"
            alt="Logo 5"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
          <img
            src="{{url_for('static', filename='assets/img/clients/client-6.jpg')}}"
            alt="Logo 6"
            class="img-fluid"
            style="height: 60px; margin: 10px"
          />
        </div>
      </div>

      <!-- Partner Kami (6 logo) -->
      <div class="row text-center">
        <div class="col-12 mb-3">
          <h5 class="text-uppercase fw-bold text-dark">Partner Kami</h5>
        </div>
        <div class="col-4 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-3.jpg')}}"
            alt="Client 3"
            class="img-fluid"
          />
        </div>
        <div class="col-4 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-4.png')}}"
            alt="Client 4"
            class="img-fluid"
          />
        </div>
        <div class="col-4 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-7.png')}}"
            alt="Client 5"
            class="img-fluid"
          />
        </div>
        <div class="col-4 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-8.png')}}"
            alt="Client 6"
            class="img-fluid"
          />
        </div>
        <div class="col-4 col-md-1 my-2">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-10.jpg')}}"
            alt="Client 7"
            class="img-fluid"
          />
        </div>
        <div class="col-4 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/clients/client-12.png')}}"
            alt="Client 8"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text-center">
    <div
      class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center"
    >
      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div>
          © 2025 <strong><span>PSIDAMAI</span></strong
          >. All Rights Reserved
        </div>
      </div>

      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href="mailto:psi.damai@gmail.com"><i class="bi bi-envelope"></i></a>
        <a href="tel:0214223138"><i class="bi bi-telephone-fill"></i></a>
        <a href="https://www.instagram.com/psidamai?igsh=MTdyNmo2aGF1YnNtdg=="
          ><i class="bi bi-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/company/psidamai/"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll Top -->
<a
  href="#"
  id="scroll-top"
  class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>

<!-- Main JS File -->
<script src="{{ url_for('static', filename='assets/js/homepage/main.js')}}"></script>

<script>
  AOS.init();
</script>
